* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 5%;
}

.highlight {
    background-color: yellow;
  }
  
  form {
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
  }